body{
    background-color:rgb(234, 229, 229);
    display: flex; 
    flex-direction: column;
    align-items: center;
}
h1 {
    color: white;
}
button{
    border: none;
    border-radius: 25px;
    padding: 10px 25px;
    cursor: pointer;
    margin-right: 20px;
}
.card img {
    width: 250px;
    border-radius: 12px;                 
}
.card {
    display: flex;
    gap:20px;
    background-color: rgb(246, 244, 241);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    max-width: 800px;
    width: 60%;
}

.nav button:hover {
    background-color: rgba(202, 199, 195, 0.622);
    transform:translateY(-2px)

}


